{
  "swagger": "2.0",
  "info": {
    "title": "App Center Client",
    "description": "Microsoft Visual Studio App Center API",
    "version": "preview"
  },
  "host": "api.appcenter.ms",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v0.1/users/{user_id}/devices/register": {
      "post": {
        "tags": [
          "distribute"
        ],
        "description": "Registers a user for an existing device",
        "operationId": "devices_registerUserForDevice",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "user_id",
            "description": "The ID of the user",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The device info.",
            "required": true,
            "schema": {
              "description": "The information for a single iOS device",
              "required": [
                "udid",
                "model"
              ],
              "properties": {
                "udid": {
                  "description": "The Unique Device IDentifier of the device",
                  "type": "string"
                },
                "model": {
                  "description": "The model identifier of the device, in the format iDeviceM,N",
                  "type": "string"
                },
                "os_build": {
                  "description": "The build number of the last known OS version running on the device",
                  "type": "string"
                },
                "os_version": {
                  "description": "The last known OS version running on the device",
                  "type": "string"
                },
                "serial": {
                  "description": "The device's serial number. Always empty or undefined at present.",
                  "type": "string"
                },
                "imei": {
                  "description": "The device's International Mobile Equipment Identity number. Always empty or undefined at present.",
                  "type": "string"
                },
                "owner_id": {
                  "description": "The user ID of the device owner.",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "The information for a single iOS device",
              "required": [
                "udid",
                "model",
                "device_name",
                "os_build",
                "os_version",
                "status"
              ],
              "properties": {
                "udid": {
                  "description": "The Unique Device IDentifier of the device",
                  "type": "string"
                },
                "model": {
                  "description": "The model identifier of the device, in the format iDeviceM,N",
                  "type": "string"
                },
                "device_name": {
                  "description": "The device description, in the format \"iPhone 7 Plus (A1784)\"",
                  "type": "string"
                },
                "full_device_name": {
                  "description": "A combination of the device model name and the owner name.",
                  "type": "string"
                },
                "os_build": {
                  "description": "The last known OS version running on the device",
                  "type": "string"
                },
                "os_version": {
                  "description": "The last known OS version running on the device",
                  "type": "string"
                },
                "serial": {
                  "description": "The device's serial number. Always empty or undefined at present.",
                  "type": "string"
                },
                "imei": {
                  "description": "The device's International Mobile Equipment Identity number. Always empty or undefined at present.",
                  "type": "string"
                },
                "owner_id": {
                  "description": "The user ID of the device owner.",
                  "type": "string"
                },
                "status": {
                  "description": "The provisioning status of the device.",
                  "type": "string"
                },
                "registered_at": {
                  "description": "Timestamp of when the device was registered in ISO format.",
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "<b>not_found</b>: The user or the device can't be found.\n",
            "schema": {
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "enum": [
                    "BadRequest",
                    "Conflict",
                    "NotAcceptable",
                    "NotFound",
                    "InternalServerError",
                    "Unauthorized",
                    "TooManyRequests"
                  ],
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/notifications/emailSettings": {
      "get": {
        "tags": [
          "alerting"
        ],
        "description": "Get Default email notification settings for the user",
        "operationId": "notifications_getUserEmailSettings",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "Alerting Default Email Settings of the user",
              "type": "object",
              "allOf": [
                {
                  "description": "Generic result for any alerting API operation",
                  "required": [
                    "request_id"
                  ],
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "description": "Unique request identifier for tracking",
                      "type": "string"
                    }
                  }
                },
                {
                  "required": [
                    "enabled",
                    "settings"
                  ],
                  "properties": {
                    "eTag": {
                      "description": "The ETag of the entity",
                      "type": "string"
                    },
                    "enabled": {
                      "description": "Allows to forcefully disable emails on app or user level",
                      "type": "boolean"
                    },
                    "userId": {
                      "description": "The unique id (UUID) of the user",
                      "type": "string"
                    },
                    "settings": {
                      "description": "The settings the user has for the app",
                      "type": "array",
                      "items": {
                        "description": "Event Setting",
                        "required": [
                          "event_type",
                          "value"
                        ],
                        "type": "object",
                        "properties": {
                          "event_type": {
                            "description": "Event Name",
                            "enum": [
                              "crash_newCrashGroupCreated"
                            ],
                            "type": "string"
                          },
                          "value": {
                            "description": "Frequency of event",
                            "enum": [
                              "Disabled",
                              "Individual",
                              "Daily",
                              "DailyAndIndividual",
                              "Default"
                            ],
                            "type": "string"
                          },
                          "default_value": {
                            "description": "Default frequency of event",
                            "enum": [
                              "Disabled",
                              "Individual",
                              "Daily",
                              "DailyAndIndividual"
                            ],
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              ]
            }
          },
          "default": {
            "description": "Error code with reason",
            "schema": {
              "description": "Alerting service error",
              "allOf": [
                {
                  "description": "Generic result for any alerting API operation",
                  "required": [
                    "request_id"
                  ],
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "description": "Unique request identifier for tracking",
                      "type": "string"
                    }
                  }
                },
                {
                  "required": [
                    "code"
                  ],
                  "properties": {
                    "code": {
                      "description": "The status code return by the API. It can be 400 or 404 or 409 or 500.",
                      "enum": [
                        400,
                        404,
                        409,
                        500
                      ],
                      "type": "integer"
                    },
                    "message": {
                      "description": "The reason for the request failed",
                      "type": "string"
                    }
                  }
                }
              ]
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/metadata/optimizely": {
      "get": {
        "tags": [
          "account"
        ],
        "operationId": "Users_getUserMetadata",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "properties": {
                "userId": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/invitations/orgs/{invitation_token}/reject": {
      "post": {
        "tags": [
          "account"
        ],
        "description": "Rejects a pending organization invitation",
        "operationId": "orgInvitations_reject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invitation_token",
            "description": "The app invitation token that was sent to the user",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/invitations/orgs/{invitation_token}/accept": {
      "post": {
        "tags": [
          "account"
        ],
        "description": "Accepts a pending organization invitation for the specified user",
        "operationId": "orgInvitations_accept",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invitation_token",
            "description": "The app invitation token that was sent to the user",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/invitations/distribution_groups/accept": {
      "post": {
        "tags": [
          "account"
        ],
        "description": "Accepts all pending invitations to distribution groups for the specified user",
        "operationId": "distributionGroupInvitations_acceptAll",
        "produces": [
          "application/json"
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/invitations/apps/{invitation_token}/reject": {
      "post": {
        "tags": [
          "account"
        ],
        "description": "Rejects a pending invitation for the specified user",
        "operationId": "appInvitations_reject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invitation_token",
            "description": "The app invitation token that was sent to the user",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/invitations/apps/{invitation_token}/accept": {
      "post": {
        "tags": [
          "account"
        ],
        "description": "Accepts a pending invitation for the specified user",
        "operationId": "appInvitations_accept",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invitation_token",
            "description": "The app invitation token that was sent to the user",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/export/serviceConnections": {
      "get": {
        "tags": [
          "account"
        ],
        "description": "Gets all service connections of the service type for GDPR export.",
        "operationId": "sharedconnection_Connections",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "description": "SharedConnectionResponse",
                "required": [
                  "id",
                  "serviceType",
                  "credentialType"
                ],
                "type": "object",
                "properties": {
                  "id": {
                    "description": "id of the shared connection",
                    "type": "string"
                  },
                  "displayName": {
                    "description": "display name of shared connection",
                    "type": "string"
                  },
                  "serviceType": {
                    "description": "service type of shared connection can be apple|gitlab|googleplay|jira",
                    "enum": [
                      "apple",
                      "jira",
                      "googleplay",
                      "gitlab"
                    ],
                    "type": "string"
                  },
                  "credentialType": {
                    "description": "the type of the credential",
                    "enum": [
                      "credentials",
                      "certificate"
                    ],
                    "type": "string"
                  },
                  "isValid": {
                    "description": "whether the credentials are valid or not",
                    "type": "boolean"
                  },
                  "is2FA": {
                    "description": "if the account is a 2FA account or not",
                    "type": "boolean"
                  }
                },
                "discriminator": "serviceType"
              }
            }
          },
          "default": {
            "description": "bad_request: proper details are not provided for connection in body.\n",
            "schema": {
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "enum": [
                    "BadRequest",
                    "Conflict",
                    "NotAcceptable",
                    "NotFound",
                    "InternalServerError",
                    "Unauthorized",
                    "TooManyRequests"
                  ],
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/dsr/export/{token}/cancel": {
      "post": {
        "tags": [
          "gdpr"
        ],
        "operationId": "DataSubjectRight_CancelExportRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "description": "Unique request ID (GUID)",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "202": {
            "description": "Data subject right cancel export request has been accepted.",
            "schema": {
              "required": [
                "token",
                "createdAt"
              ],
              "type": "object",
              "properties": {
                "token": {
                  "format": "uuid",
                  "description": "Unique request identifier",
                  "type": "string"
                },
                "createdAt": {
                  "format": "date-time",
                  "description": "ISO 8601 format timestamp of when request was created.",
                  "type": "string"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "Link to get details about the cancel export.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Cancel export request cannot be processed yet.",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error code with reason",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/dsr/export/{token}": {
      "get": {
        "tags": [
          "gdpr"
        ],
        "operationId": "DataSubjectRight_ExportStatusRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "description": "Unique request ID (GUID)",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "Data subject right export request status successfully retrieved.",
            "schema": {
              "required": [
                "status",
                "message"
              ],
              "type": "object",
              "properties": {
                "sasUrl": {
                  "description": "Azure Storage shared access signature (SAS) URL for exported user data.",
                  "type": "string"
                },
                "sasUrlExpired": {
                  "description": "Whether Azure Storage shared access signature (SAS) URL has expired or not.",
                  "type": "boolean"
                },
                "status": {
                  "description": "Status of data subject right request",
                  "enum": [
                    "None",
                    "Created",
                    "Queued",
                    "InProgress",
                    "Completed",
                    "Failed"
                  ],
                  "type": "string"
                },
                "message": {
                  "description": "explanation message of the status",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error code with reason",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/dsr/export": {
      "post": {
        "tags": [
          "gdpr"
        ],
        "operationId": "DataSubjectRight_ExportRequest",
        "produces": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "Data subject right export request has been accepted.",
            "schema": {
              "required": [
                "token",
                "createdAt"
              ],
              "type": "object",
              "properties": {
                "token": {
                  "format": "uuid",
                  "description": "Unique request identifier",
                  "type": "string"
                },
                "createdAt": {
                  "format": "date-time",
                  "description": "ISO 8601 format timestamp of when request was created.",
                  "type": "string"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "Link to get details about the export.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error code with reason",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/dsr/delete/{token}/cancel": {
      "post": {
        "tags": [
          "gdpr"
        ],
        "operationId": "DataSubjectRight_CancelDeleteRequest",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "description": "Unique request ID (GUID)",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-location": "method"
          },
          {
            "in": "body",
            "name": "email",
            "schema": {
              "required": [
                "email"
              ],
              "type": "object",
              "properties": {
                "email": {
                  "description": "Email used for cancel delete with x-authz-bypass headers",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Data subject right cancel delete request has been accepted.",
            "schema": {
              "required": [
                "token",
                "createdAt"
              ],
              "type": "object",
              "properties": {
                "token": {
                  "format": "uuid",
                  "description": "Unique request identifier",
                  "type": "string"
                },
                "createdAt": {
                  "format": "date-time",
                  "description": "ISO 8601 format timestamp of when request was created.",
                  "type": "string"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "Link to get details about the cancel delete.",
                "type": "string"
              }
            }
          },
          "503": {
            "description": "Cancel delete request cannot be processed yet.",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error code with reason",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/dsr/delete/{token}": {
      "get": {
        "tags": [
          "gdpr"
        ],
        "operationId": "DataSubjectRight_DeleteStatusRequest",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "token",
            "description": "Unique request ID (GUID)",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-ms-parameter-location": "method"
          },
          {
            "in": "query",
            "name": "email",
            "description": "Email used for delete with x-authz-bypass headers",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "Data subject right delete request status successfully retrieved.",
            "schema": {
              "required": [
                "status",
                "message"
              ],
              "type": "object",
              "properties": {
                "sasUrl": {
                  "description": "Azure Storage shared access signature (SAS) URL for exported user data.",
                  "type": "string"
                },
                "sasUrlExpired": {
                  "description": "Whether Azure Storage shared access signature (SAS) URL has expired or not.",
                  "type": "boolean"
                },
                "status": {
                  "description": "Status of data subject right request",
                  "enum": [
                    "None",
                    "Created",
                    "Queued",
                    "InProgress",
                    "Completed",
                    "Failed"
                  ],
                  "type": "string"
                },
                "message": {
                  "description": "explanation message of the status",
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error code with reason",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/dsr/delete": {
      "post": {
        "tags": [
          "gdpr"
        ],
        "operationId": "DataSubjectRight_DeleteRequest",
        "produces": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "Data subject right delete request has been accepted.",
            "schema": {
              "required": [
                "token",
                "createdAt"
              ],
              "type": "object",
              "properties": {
                "token": {
                  "format": "uuid",
                  "description": "Unique request identifier",
                  "type": "string"
                },
                "createdAt": {
                  "format": "date-time",
                  "description": "ISO 8601 format timestamp of when request was created.",
                  "type": "string"
                }
              }
            },
            "headers": {
              "Location": {
                "description": "Link to get details about the delete.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error code with reason",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/devices/{device_udid}": {
      "get": {
        "tags": [
          "distribute"
        ],
        "description": "Returns the device details.",
        "operationId": "devices_deviceDetails",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "device_udid",
            "description": "The UDID of the device",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "description": "The information for a single iOS device",
              "required": [
                "udid",
                "model",
                "device_name",
                "os_build",
                "os_version",
                "status"
              ],
              "properties": {
                "udid": {
                  "description": "The Unique Device IDentifier of the device",
                  "type": "string"
                },
                "model": {
                  "description": "The model identifier of the device, in the format iDeviceM,N",
                  "type": "string"
                },
                "device_name": {
                  "description": "The device description, in the format \"iPhone 7 Plus (A1784)\"",
                  "type": "string"
                },
                "full_device_name": {
                  "description": "A combination of the device model name and the owner name.",
                  "type": "string"
                },
                "os_build": {
                  "description": "The last known OS version running on the device",
                  "type": "string"
                },
                "os_version": {
                  "description": "The last known OS version running on the device",
                  "type": "string"
                },
                "serial": {
                  "description": "The device's serial number. Always empty or undefined at present.",
                  "type": "string"
                },
                "imei": {
                  "description": "The device's International Mobile Equipment Identity number. Always empty or undefined at present.",
                  "type": "string"
                },
                "owner_id": {
                  "description": "The user ID of the device owner.",
                  "type": "string"
                },
                "status": {
                  "description": "The provisioning status of the device.",
                  "type": "string"
                },
                "registered_at": {
                  "description": "Timestamp of when the device was registered in ISO format.",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "<b>bad_request</b>: Devices information can only be requested for iOS apps.\n",
            "schema": {
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "enum": [
                    "BadRequest",
                    "Conflict",
                    "NotAcceptable",
                    "NotFound",
                    "InternalServerError",
                    "Unauthorized",
                    "TooManyRequests"
                  ],
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "<b>forbidden</b>: The user is not allowed to view someone else's device.\n",
            "schema": {
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "enum": [
                    "BadRequest",
                    "Conflict",
                    "NotAcceptable",
                    "NotFound",
                    "InternalServerError",
                    "Unauthorized",
                    "TooManyRequests"
                  ],
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "<b>not_found</b>: The user or device can't be found.\n",
            "schema": {
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "enum": [
                    "BadRequest",
                    "Conflict",
                    "NotAcceptable",
                    "NotFound",
                    "InternalServerError",
                    "Unauthorized",
                    "TooManyRequests"
                  ],
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "distribute"
        ],
        "description": "Removes an existing device from a user",
        "operationId": "devices_removeUserDevice",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "device_udid",
            "description": "The UDID of the device",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "<b>forbidden</b>: The user is not allowed to delete someone else's device.\n",
            "schema": {
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "enum": [
                    "BadRequest",
                    "Conflict",
                    "NotAcceptable",
                    "NotFound",
                    "InternalServerError",
                    "Unauthorized",
                    "TooManyRequests"
                  ],
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "<b>not_found</b>: The user or the device can't be found.\n",
            "schema": {
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "enum": [
                    "BadRequest",
                    "Conflict",
                    "NotAcceptable",
                    "NotFound",
                    "InternalServerError",
                    "Unauthorized",
                    "TooManyRequests"
                  ],
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user/devices": {
      "get": {
        "tags": [
          "distribute"
        ],
        "description": "Returns all devices associated with the given user.",
        "operationId": "devices_userDevicesList",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "description": "The information for a single iOS device",
                "required": [
                  "udid",
                  "model",
                  "device_name",
                  "os_build",
                  "os_version",
                  "status"
                ],
                "properties": {
                  "udid": {
                    "description": "The Unique Device IDentifier of the device",
                    "type": "string"
                  },
                  "model": {
                    "description": "The model identifier of the device, in the format iDeviceM,N",
                    "type": "string"
                  },
                  "device_name": {
                    "description": "The device description, in the format \"iPhone 7 Plus (A1784)\"",
                    "type": "string"
                  },
                  "full_device_name": {
                    "description": "A combination of the device model name and the owner name.",
                    "type": "string"
                  },
                  "os_build": {
                    "description": "The last known OS version running on the device",
                    "type": "string"
                  },
                  "os_version": {
                    "description": "The last known OS version running on the device",
                    "type": "string"
                  },
                  "serial": {
                    "description": "The device's serial number. Always empty or undefined at present.",
                    "type": "string"
                  },
                  "imei": {
                    "description": "The device's International Mobile Equipment Identity number. Always empty or undefined at present.",
                    "type": "string"
                  },
                  "owner_id": {
                    "description": "The user ID of the device owner.",
                    "type": "string"
                  },
                  "status": {
                    "description": "The provisioning status of the device.",
                    "type": "string"
                  },
                  "registered_at": {
                    "description": "Timestamp of when the device was registered in ISO format.",
                    "type": "string"
                  }
                }
              }
            }
          },
          "400": {
            "description": "<b>bad_request</b>: Devices information can only be requested for iOS apps.\n",
            "schema": {
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "enum": [
                    "BadRequest",
                    "Conflict",
                    "NotAcceptable",
                    "NotFound",
                    "InternalServerError",
                    "Unauthorized",
                    "TooManyRequests"
                  ],
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "<b>forbidden</b>: The user is not allowed to view someone else's devices.\n",
            "schema": {
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "enum": [
                    "BadRequest",
                    "Conflict",
                    "NotAcceptable",
                    "NotFound",
                    "InternalServerError",
                    "Unauthorized",
                    "TooManyRequests"
                  ],
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/user": {
      "get": {
        "tags": [
          "account"
        ],
        "description": "Returns the user profile data",
        "operationId": "users_get",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "id",
                "display_name",
                "email",
                "name",
                "origin"
              ],
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The unique id (UUID) of the user",
                  "type": "string"
                },
                "avatar_url": {
                  "description": "The avatar URL of the user",
                  "type": "string"
                },
                "can_change_password": {
                  "description": "User is required to send an old password in order to change the password.",
                  "type": "boolean"
                },
                "display_name": {
                  "description": "The full name of the user. Might for example be first and last name",
                  "type": "string"
                },
                "email": {
                  "description": "The email address of the user",
                  "type": "string"
                },
                "name": {
                  "description": "The unique name that is used to identify the user.",
                  "type": "string"
                },
                "permissions": {
                  "description": "The permissions the user has for the app",
                  "type": "array",
                  "items": {
                    "enum": [
                      "manager",
                      "developer",
                      "viewer",
                      "tester"
                    ],
                    "type": "string"
                  }
                },
                "origin": {
                  "description": "The creation origin of this user",
                  "enum": [
                    "appcenter",
                    "hockeyapp",
                    "codepush"
                  ],
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      },
      "patch": {
        "tags": [
          "account"
        ],
        "description": "Updates the user profile and returns the updated user data",
        "operationId": "users_update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "user",
            "description": "The data for the created user",
            "required": true,
            "schema": {
              "properties": {
                "display_name": {
                  "description": "The full name of the user. Might for example be first and last name",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "required": [
                "id",
                "display_name",
                "email",
                "name",
                "origin"
              ],
              "properties": {
                "id": {
                  "format": "uuid",
                  "description": "The unique id (UUID) of the user",
                  "type": "string"
                },
                "avatar_url": {
                  "description": "The avatar URL of the user",
                  "type": "string"
                },
                "can_change_password": {
                  "description": "User is required to send an old password in order to change the password.",
                  "type": "boolean"
                },
                "display_name": {
                  "description": "The full name of the user. Might for example be first and last name",
                  "type": "string"
                },
                "email": {
                  "description": "The email address of the user",
                  "type": "string"
                },
                "name": {
                  "description": "The unique name that is used to identify the user.",
                  "type": "string"
                },
                "permissions": {
                  "description": "The permissions the user has for the app",
                  "type": "array",
                  "items": {
                    "enum": [
                      "manager",
                      "developer",
                      "viewer",
                      "tester"
                    ],
                    "type": "string"
                  }
                },
                "origin": {
                  "description": "The creation origin of this user",
                  "enum": [
                    "appcenter",
                    "hockeyapp",
                    "codepush"
                  ],
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "required": [
                "error"
              ],
              "type": "object",
              "properties": {
                "error": {
                  "required": [
                    "code",
                    "message"
                  ],
                  "properties": {
                    "code": {
                      "enum": [
                        "BadRequest",
                        "Conflict",
                        "NotAcceptable",
                        "NotFound",
                        "InternalServerError",
                        "Unauthorized",
                        "TooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/tester/apps": {
      "get": {
        "tags": [
          "distribute"
        ],
        "description": "Return a list of applications that the user has tester permission to with the latest release for each.",
        "operationId": "releases_listTesterApps",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "properties": {
                  "id": {
                    "description": "The unique ID (UUID) of the app",
                    "type": "string"
                  },
                  "release": {
                    "allOf": [
                      {
                        "description": "Response for getting a list of releases in a distribution group",
                        "required": [
                          "id",
                          "version",
                          "enabled",
                          "uploaded_at",
                          "short_version",
                          "mandatory_update"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "ID identifying this unique release.",
                            "type": "integer"
                          },
                          "version": {
                            "description": "The release's version.<br>\nFor iOS: CFBundleVersion from info.plist.<br>\nFor Android: android:versionCode from AppManifest.xml.\n",
                            "type": "string"
                          },
                          "origin": {
                            "description": "The release's origin",
                            "enum": [
                              "hockeyapp",
                              "appcenter"
                            ],
                            "type": "string"
                          },
                          "short_version": {
                            "description": "The release's short version.<br>\nFor iOS: CFBundleShortVersionString from info.plist.<br>\nFor Android: android:versionName from AppManifest.xml.\n",
                            "type": "string"
                          },
                          "mandatory_update": {
                            "description": "A boolean which determines whether the release is a mandatory update or not.",
                            "type": "boolean"
                          },
                          "uploaded_at": {
                            "description": "UTC time in ISO 8601 format of the uploaded time.",
                            "type": "string"
                          },
                          "enabled": {
                            "description": "This value determines the whether a release currently is enabled or disabled.",
                            "type": "boolean"
                          },
                          "is_external_build": {
                            "description": "This value determines if a release is external or not.",
                            "type": "boolean"
                          }
                        }
                      },
                      {
                        "required": [
                          "size"
                        ],
                        "type": "object",
                        "properties": {
                          "size": {
                            "description": "The release's size in bytes.",
                            "type": "integer"
                          },
                          "install_url": {
                            "description": "The href required to install a release on a mobile device. On iOS devices will be prefixed with `itms-services://?action=download-manifest&url=`",
                            "type": "string"
                          },
                          "release_notes": {
                            "description": "The release's release notes.",
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "name": {
                    "description": "The app's name.",
                    "type": "string"
                  },
                  "display_name": {
                    "description": "The app's display name.",
                    "type": "string"
                  },
                  "description": {
                    "description": "The description of the app",
                    "type": "string"
                  },
                  "icon_url": {
                    "description": "A URL to the app's icon.",
                    "type": "string"
                  },
                  "os": {
                    "description": "The app's os.",
                    "type": "string"
                  },
                  "owner": {
                    "description": "The information about the app's owner",
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "The unique id (UUID) of the owner",
                        "type": "string"
                      },
                      "avatar_url": {
                        "description": "The avatar URL of the owner",
                        "type": "string"
                      },
                      "display_name": {
                        "description": "The owner's display name",
                        "type": "string"
                      },
                      "email": {
                        "description": "The owner's email address",
                        "type": "string"
                      },
                      "name": {
                        "description": "The unique name that used to identify the owner",
                        "type": "string"
                      },
                      "type": {
                        "description": "The owner type. Can either be 'org' or 'user'",
                        "enum": [
                          "org",
                          "user"
                        ],
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/sdk/apps/{app_secret}/releases/{release_hash}": {
      "get": {
        "tags": [
          "distribute"
        ],
        "description": "If 'latest' is not specified then it will return the specified release if it's enabled. If 'latest' is specified, regardless of whether a release hash is provided, the latest enabled release is returned.",
        "operationId": "releases_getLatestByHash",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "app_secret",
            "description": "The secret of the target application",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "release_hash",
            "description": "The hash of the release or 'latest' to get the latest release from all the distribution groups assigned to the current user.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "udid",
            "description": "When passing `udid` in the query string, a provisioning check for the given device ID will be done. Will be ignored for non-iOS platforms.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "If called with a specific `release_hash` return the app's 'display_name'' and 'buildIdentifier'. If 'release_hash' is 'latest' return the full release details of the latest release that was distributed to the current user (from all the distribution groups).",
            "schema": {
              "description": "Details of an uploaded release",
              "required": [
                "id",
                "app_name",
                "app_display_name",
                "uploaded_at",
                "version",
                "short_version",
                "app_icon_url",
                "enabled"
              ],
              "properties": {
                "id": {
                  "description": "ID identifying this unique release.",
                  "type": "integer"
                },
                "app_name": {
                  "description": "The app's name (extracted from the uploaded release).",
                  "type": "string"
                },
                "app_display_name": {
                  "description": "The app's display name.",
                  "type": "string"
                },
                "app_os": {
                  "description": "The app's OS.",
                  "type": "string"
                },
                "version": {
                  "description": "The release's version.<br>\nFor iOS: CFBundleVersion from info.plist.\nFor Android: android:versionCode from AppManifest.xml.\n",
                  "type": "string"
                },
                "origin": {
                  "description": "The release's origin",
                  "enum": [
                    "hockeyapp",
                    "appcenter"
                  ],
                  "type": "string"
                },
                "short_version": {
                  "description": "The release's short version.<br>\nFor iOS: CFBundleShortVersionString from info.plist.\nFor Android: android:versionName from AppManifest.xml.\n",
                  "type": "string"
                },
                "release_notes": {
                  "description": "The release's release notes.",
                  "type": "string"
                },
                "provisioning_profile_name": {
                  "description": "The release's provisioning profile name.",
                  "type": "string"
                },
                "provisioning_profile_type": {
                  "description": "The type of the provisioning profile for the requested app version.",
                  "enum": [
                    "adhoc",
                    "enterprise",
                    "other"
                  ],
                  "type": "string"
                },
                "provisioning_profile_expiry_date": {
                  "description": "expiration date of provisioning profile in UTC format.",
                  "type": "string"
                },
                "is_provisioning_profile_syncing": {
                  "description": "A flag that determines whether the release's provisioning profile is still extracted or not.",
                  "type": "boolean"
                },
                "size": {
                  "description": "The release's size in bytes.",
                  "type": "integer"
                },
                "min_os": {
                  "description": "The release's minimum required operating system.",
                  "type": "string"
                },
                "device_family": {
                  "description": "The release's device family.",
                  "type": "string"
                },
                "android_min_api_level": {
                  "description": "The release's minimum required Android API level.",
                  "type": "string"
                },
                "bundle_identifier": {
                  "description": "The identifier of the apps bundle.",
                  "type": "string"
                },
                "package_hashes": {
                  "description": "Hashes for the packages.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "fingerprint": {
                  "description": "MD5 checksum of the release binary.",
                  "type": "string"
                },
                "uploaded_at": {
                  "description": "UTC time in ISO 8601 format of the uploaded time.",
                  "type": "string"
                },
                "download_url": {
                  "description": "The URL that hosts the binary for this release.",
                  "type": "string"
                },
                "app_icon_url": {
                  "description": "A URL to the app's icon.",
                  "type": "string"
                },
                "install_url": {
                  "description": "The href required to install a release on a mobile device. On iOS devices will be prefixed with `itms-services://?action=download-manifest&url=`",
                  "type": "string"
                },
                "destination_type": {
                  "description": "OBSOLETE. Will be removed in next version. The destination type.<br>\n<b>group</b>: The release distributed to internal groups and distribution_groups details will be returned.<br>\n<b>store</b>: The release distributed to external stores and distribution_stores details will be returned.<br>\n<b>tester</b>: The release distributed testers details will be returned.<br>\n",
                  "enum": [
                    "group",
                    "store",
                    "tester"
                  ],
                  "type": "string"
                },
                "distribution_groups": {
                  "description": "OBSOLETE. Will be removed in next version. A list of distribution groups that are associated with this release.",
                  "type": "array",
                  "items": {
                    "required": [
                      "id"
                    ],
                    "properties": {
                      "id": {
                        "description": "ID identifying a unique distribution group.",
                        "type": "string"
                      },
                      "name": {
                        "description": "A name identifying a unique distribution group.",
                        "type": "string"
                      }
                    }
                  }
                },
                "distribution_stores": {
                  "description": "OBSOLETE. Will be removed in next version. A list of distribution stores that are associated with this release.",
                  "type": "array",
                  "items": {
                    "required": [
                      "id"
                    ],
                    "properties": {
                      "id": {
                        "description": "ID identifying a unique distribution store.",
                        "type": "string"
                      },
                      "name": {
                        "description": "A name identifying a unique distribution store.",
                        "type": "string"
                      },
                      "type": {
                        "description": "type of the distribution store currently stores type can be intune, googleplay or windows.",
                        "enum": [
                          "intune",
                          "googleplay",
                          "apple",
                          "none"
                        ],
                        "type": "string"
                      },
                      "publishing_status": {
                        "description": "publishing status of the release in the store.",
                        "type": "string"
                      }
                    }
                  }
                },
                "destinations": {
                  "description": "A list of distribution groups or stores.",
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "allOf": [
                          {
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "ID identifying a unique distribution group.",
                                "type": "string"
                              },
                              "name": {
                                "description": "A name identifying a unique distribution group.",
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "is_latest": {
                                "description": "Is the containing release the latest one in this distribution group.",
                                "type": "boolean"
                              }
                            }
                          }
                        ]
                      },
                      {
                        "allOf": [
                          {
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "ID identifying a unique distribution store.",
                                "type": "string"
                              },
                              "name": {
                                "description": "A name identifying a unique distribution store.",
                                "type": "string"
                              },
                              "type": {
                                "description": "type of the distribution store currently stores type can be intune, googleplay or windows.",
                                "enum": [
                                  "intune",
                                  "googleplay",
                                  "apple",
                                  "none"
                                ],
                                "type": "string"
                              },
                              "publishing_status": {
                                "description": "publishing status of the release in the store.",
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "is_latest": {
                                "description": "Is the containing release the latest one in this distribution store.",
                                "type": "boolean"
                              }
                            }
                          }
                        ]
                      },
                      {
                        "description": "A unique identifier for a destination. A destination can be identified by an ID (guid) or by a name. DestinationId encapsulates both options. A destination can be either a distribution group or a store.",
                        "type": "object",
                        "properties": {
                          "name": {
                            "description": "Name of a distribution group / distribution store. The release will be associated with this distribution group or store. If the distribution group / store doesn't exist a 400 is returned. If both distribution group / store name and id are passed, the id is taking precedence.",
                            "type": "string"
                          },
                          "id": {
                            "description": "Id of a distribution group / store. The release will be associated with this distribution group / store. If the distribution group / store doesn't exist a 400 is returned. If both distribution group / store name and id are passed, the id is taking precedence.",
                            "type": "string"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "destination_type": {
                            "description": "Destination can be either store or group.",
                            "enum": [
                              "group",
                              "store",
                              "tester"
                            ],
                            "type": "string"
                          },
                          "display_name": {
                            "description": "Display name for the group or tester",
                            "type": "string"
                          }
                        }
                      }
                    ]
                  }
                },
                "is_udid_provisioned": {
                  "description": "In calls that allow passing `udid` in the query string, this value will hold the provisioning status of that UDID in this release. Will be ignored for non-iOS platforms.",
                  "type": "boolean"
                },
                "can_resign": {
                  "description": "In calls that allow passing `udid` in the query string, this value determines if a release can be re-signed. When true, after a re-sign, the tester will be able to install the release from his registered devices. Will not be returned for non-iOS platforms.",
                  "type": "boolean"
                },
                "build": {
                  "description": "Contains metadata about the build that produced the release being uploaded",
                  "type": "object",
                  "properties": {
                    "branch_name": {
                      "description": "The branch name of the build producing the release",
                      "type": "string"
                    },
                    "commit_hash": {
                      "description": "The commit hash of the build producing the release",
                      "type": "string"
                    },
                    "commit_message": {
                      "description": "The commit message of the build producing the release",
                      "type": "string"
                    }
                  }
                },
                "enabled": {
                  "description": "This value determines the whether a release currently is enabled or disabled.",
                  "type": "boolean"
                },
                "status": {
                  "description": "Status of the release.",
                  "type": "string"
                },
                "is_external_build": {
                  "description": "This value determines if a release is external or not.",
                  "type": "boolean"
                }
              }
            }
          },
          "404": {
            "description": "Error codes:\n- `not_found` - A release or an app can't be found.\n- `no_releases_for_user` - No releases available for that user (will only be returned when `release_hash` is `latest`)\n",
            "schema": {
              "required": [
                "code",
                "message"
              ],
              "properties": {
                "code": {
                  "enum": [
                    "BadRequest",
                    "Conflict",
                    "NotAcceptable",
                    "NotFound",
                    "InternalServerError",
                    "Unauthorized",
                    "TooManyRequests"
                  ],
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIToken": [ ]
          }
        ]
      }
    },
    "/v0.1/sdk/apps/{app_secret}/releases/private/latest": {
      "get": {
        "tags": [
          "distribute"
        ],
        "description": "Get the latest release distributed to a private group the given user is a member of for the given app.",
        "operationId": "releases_getLatestPrivateRelease",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "app_secret",
            "description": "The secret of the target application",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "udid",
            "description": "When passing `udid` in the query string, a provisioning check for the given device ID will be done. Will be ignored for non-iOS platforms.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the full release details of the latest release that was distributed to the current user (from all the private distribution groups).",
            "schema": {
              "description": "Details of an uploaded release",
              "required": [
                "id",
                "app_name",
                "app_display_name",
                "uploaded_at",
                "version",
                "short_version",
                "app_icon_url",
                "enabled"
              ],
              "properties": {
                "id": {
                  "description": "ID identifying this unique release.",
                  "type": "integer"
                },
                "app_name": {
                  "description": "The app's name (extracted from the uploaded release).",
                  "type": "string"
                },
                "app_display_name": {
                  "description": "The app's display name.",
                  "type": "string"
                },
                "app_os": {
                  "description": "The app's OS.",
                  "type": "string"
                },
                "version": {
                  "description": "The release's version.<br>\nFor iOS: CFBundleVersion from info.plist.\nFor Android: android:versionCode from AppManifest.xml.\n",
                  "type": "string"
                },
                "origin": {
                  "description": "The release's origin",
                  "enum": [
                    "hockeyapp",
                    "appcenter"
                  ],
                  "type": "string"
                },
                "short_version": {
                  "description": "The release's short version.<br>\nFor iOS: CFBundleShortVersionString from info.plist.\nFor Android: android:versionName from AppManifest.xml.\n",
                  "type": "string"
                },
                "release_notes": {
                  "description": "The release's release notes.",
                  "type": "string"
                },
                "provisioning_profile_name": {
                  "description": "The release's provisioning profile name.",
                  "type": "string"
                },
                "provisioning_profile_type": {
                  "description": "The type of the provisioning profile for the requested app version.",
                  "enum": [
                    "adhoc",
                    "enterprise",
                    "other"
                  ],
                  "type": "string"
                },
                "provisioning_profile_expiry_date": {
                  "description": "expiration date of provisioning profile in UTC format.",
                  "type": "string"
                },
                "is_provisioning_profile_syncing": {
                  "description": "A flag that determines whether the release's provisioning profile is still extracted or not.",
                  "type": "boolean"
                },
                "size": {
                  "description": "The release's size in bytes.",
                  "type": "integer"
                },
                "min_os": {
                  "description": "The release's minimum required operating system.",
                  "type": "string"
                },
                "device_family": {
                  "description": "The release's device family.",
                  "type": "string"
                },
                "android_min_api_level": {
                  "description": "The release's minimum required Android API level.",
                  "type": "string"
                },
                "bundle_identifier": {
                  "description": "The identifier of the apps bundle.",
                  "type": "string"
                },
                "package_hashes": {
                  "description": "Hashes for the packages.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "fingerprint": {
                  "description": "MD5 checksum of the release binary.",
                  "type": "string"
                },
                "uploaded_at": {
                  "description": "UTC time in ISO 8601 format of the uploaded time.",
                  "type": "string"
                },
                "download_url": {
                  "description": "The URL that hosts the binary for this release.",
                  "type": "string"
                },
                "app_icon_url": {
                  "description": "A URL to the app's icon.",
                  "type": "string"
                },
                "install_url": {
                  "description": "The href required to install a release on a mobile device. On iOS devices will be prefixed with `itms-services://?action=download-manifest&url=`",
                  "type": "string"
                },
                "destination_type": {
                  "description": "OBSOLETE. Will be removed in next version. The destination type.<br>\n<b>group</b>: The release distributed to internal groups and distribution_groups details will be returned.<br>\n<b>store</b>: The release distributed to external stores and distribution_stores details will be returned.<br>\n<b>tester</b>: The release distributed testers details will be returned.<br>\n",
                  "enum": [
                    "group",
                    "store",
                    "tester"
                  ],
                  "type": "string"
                },
                "distribution_groups": {
                  "description": "OBSOLETE. Will be removed in next version. A list of distribution groups that are associated with this release.",
                  "type": "array",
                  "items": {
                    "required": [
                      "id"
                    ],
                    "properties": {
                      "id": {
                        "description": "ID identifying a unique distribution group.",
                        "type": "string"
                      },
                      "name": {
                        "description": "A name identifying a unique distribution group.",
                        "type": "string"
                      }
                    }
                  }
                },
                "distribution_stores": {
                  "description": "OBSOLETE. Will be removed in next version. A list of distribution stores that are associated with this release.",
                  "type": "array",
                  "items": {
                    "required": [
                      "id"
                    ],
                    "properties": {
                      "id": {
                        "description": "ID identifying a unique distribution store.",
                        "type": "string"
                      },
                      "name": {
                        "description": "A name identifying a unique distribution store.",
                        "type": "string"
                      },
                      "type": {
                        "description": "type of the distribution store currently stores type can be intune, googleplay or windows.",
                        "enum": [
                          "intune",
                          "googleplay",
                          "apple",
                          "none"
                        ],
                        "type": "string"
                      },
                      "publishing_status": {
                        "description": "publishing status of the release in the store.",
                        "type": "string"
                      }
                    }
                  }
                },
                "destinations": {
                  "description": "A list of distribution groups or stores.",
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "allOf": [
                          {
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "ID identifying a unique distribution group.",
                                "type": "string"
                              },
                              "name": {
                                "description": "A name identifying a unique distribution group.",
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "is_latest": {
                                "description": "Is the containing release the latest one in this distribution group.",
                                "type": "boolean"
                              }
                            }
                          }
                        ]
                      },
                      {
                        "allOf": [
                          {
                            "required": [
                              "id"
                            ],
                            "properties": {
                              "id": {
                                "description": "ID identifying a unique distribution store.",
                                "type": "string"
                              },
                              "name": {
                                "description": "A name identifying a unique distribution store.",
                                "type": "string"
                              },
                              "type": {
                                "description": "type of the distribution store currently stores type can be intune, googleplay or windows.",
                                "enum": [
                                  "intune",
                                  "googleplay",
                                  "apple",
                                  "none"
                                ],
                                "type": "string"
                              },
                              "publishing_status": {
                                "description": "publishing status of the release in the store.",
                                "type": "string"
                              }
                            }
                          },
                          {
                            "type": "object",
                            "properties": {
                              "is_latest": {
                                "description": "Is the containing release the latest one in this distribution store.",
                                "type": "boolean"
                              }
                            }
                          }
                        ]
                      },
                      {
                        "description": "A unique identifier for a destination. A destination can be identified by an ID (guid) or by a name. DestinationId encapsulates both options. A destination can be either a distribution group or a store.",
                        "type": "object",
                        "properties": {
                          "name": {
                            "description": "Name of a distribution group / distribution store. The release will be associated with this distribution group or store. If the distribution group / store doesn't exist a 400 is returned. If both distribution group / store name and id are passed, the id is taking precedence.",
                            "type": "string"
                          },
                          "id": {
[...]
